<%= form_with(model: publication, local: true) do |f| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h3>

      <ul>
      <% publication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name , "Titulo de la foto" %>
    <%= f.text_field :name, placeholder: "Título de la foto", class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :description , "Descripción" %>
    <%= f.text_field :description, placeholder: "Descripción de la foto", class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :place , "Ubicacón" %>
    <%= f.text_field :place, placeholder: "Ubicacion de la foto", class:"form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :permission_pub , "Privacidad" %>
    <%= f.select :permission_pub, Publication.permission_pubs.keys.to_a%>
  </div>

   <div class="form-group">
    <%=f.submit "Guardar", class:"btn red"%>
  </div>
<% end %>
