<header>
  <nav class="navbar navbar-inverse" style="border-radius: 0px">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Home page</a>
        <% if user_signed_in?%>
        <a class="navbar-brand" href="/misfotos"><span class="glyphicon glyphicon-picture"></span>Mis Fotos</a>
        <%end%>
      </div>

      <%= form_tag("/publications/buscar", method: "post", class:"navbar-form navbar-right") do %>
        <div class="form-group">
          <%= text_field_tag(:name) %>
        </div>
        <%= submit_tag("Buscar", class:"btn red") %>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in?%>
          <li><%= link_to  destroy_user_session_path, method: :delete do %>
            <span class="glyphicon glyphicon-log-in"></span> Cerrar sesión<%end%>
          </li>
        <%else%>
        <li><%= link_to  new_user_registration_path do %>
          <span class="glyphicon glyphicon-user"></span> Registrarse<%end%>
        </li>
        <li><%= link_to  new_user_session_path do %>
          <span class="glyphicon glyphicon-log-in"></span> Iniciar sesión<%end%>
        </li>

        <%end%>
      </ul>
    </div>
  </nav>
</header>
